body {
    margin: 0;
    padding: 0;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    color: white;
    overflow: hidden;
    font-size: 115%;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu {
    width: 287px;
    margin-left: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.menu-item {
    margin: 11px 0;
    cursor: pointer;
    color: #cccccc;
    text-decoration: none;
    font-size: 34px;
    transition: color 0.3s;
}

.menu-item:hover {
    color: #ffffff;
}

.player-name-section {
    display: flex;
    flex-direction: column;
    width: 230px;
}

.age-section {
    display: flex;
    gap: 23px;
}

.age-section {
    margin-top: 11px;
}

.age-input-row {
    display: flex;
    align-items: center;
    gap: 23px;
    margin-top: 22px;
}

.age-input {
    width: 57px;
}

.city-section {
    display: flex;
    flex-direction: column;
    width: 230px;
}

.age-and-city-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.spraypaint-section {
    display: flex;
    flex-direction: column;
    width: 287px;
}

.cs-slider .ruler {
    z-index: 0;
    margin-left: 2px;
}

.cs-slider label {
    font-size: 23px;
}

.cs-dialog.options-dialog {
    max-width: 690px;
}

.cs-dialog {
    font-size: 23px;
    transform: scale(1.15);
    transform-origin: center;
}

.cs-dialog .heading .text {
    font-size: 20px !important;
}

.cs-dialog .cs-tabs .label {
    font-size: 20px;
}

.cs-dialog .cs-tabs .cs-input {
    font-size: 23px;
}

.cs-dialog .sections {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.upper-section {
    display: flex;
    justify-content: space-between;
}

.upper-left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.symbol-rectangle {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 30px;
    width: 300px;
}

.symbol-rectangle pre {
    font-family: 'ArialPixel';
    color: #cccccc;
    margin: 0;
    line-height: 1;
    font-size: 16px;
}

.quit-dialog.cs-dialog {
    font-size: 18px;
}

.spraypaint-preview {
    display: flex;
    align-items: center;
    gap: 17px;
}

.spraypaint-preview-image {
    width: 92px;
    height: 92px;
    background-size: cover;
    background-position: center;
}

.spraypaint-selectors {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92px;
}

.spraypaint-selector-row {
    display: flex;
    align-items: center;
    gap: 11px;
}

.spraypaint-selector-row:last-child {
    margin-bottom: 0;
}

.build-smth-link {
    text-decoration: underline;
    color: hotpink;
}

.telegram-link {
    text-decoration: underline;
    color: rgb(0, 166, 255);
}

.servers-dialog.cs-dialog {
    max-width: 900px;
    width: 900px;

    .cs-tabs {
        .panel {
            padding: 10px 0 10px;
        }
    }

}

.server-browser {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-color: var(--secondary-bg);
    margin-bottom: 15px;
    border-bottom: 1px solid var(--border-light);
    overflow-y: auto;
}

.server-list-header {
    display: flex;

    .cs-btn {
        font-size: 18px;
    }
}

.server-item {
    display: flex;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    line-height: 1.1;
}

.server-item-column {
    padding: 4px 6px;
    overflow: hidden;
}

.server-item.selected {
    background-color: var(--secondary-accent);
}

.project-name-column {
    flex: 1;
}

.project-description-column {
    flex: 3;
}

.project-stack-column {
    flex: 1.5;
}

.project-status-column {
    flex: 0.5;
}

.server-actions {
    flex: 1;
    display: flex;
    gap: 10px;
    float: right;
    margin-right: 10px;

    .cs-btn {
        font-size: 23px;
        padding: 6px 5px 6px;
        width: 100px;
        text-align: left;
    }
}

/* Filters */

.filter-orange {
    filter: grayscale(100%) sepia(100%) hue-rotate(340deg) saturate(300%) brightness(0.8) contrast(1.3);
}

.filter-yellow {
    filter: grayscale(100%) sepia(100%) hue-rotate(10deg) saturate(300%) brightness(0.9);
}

.filter-ltblue {
    filter: grayscale(100%) sepia(100%) hue-rotate(150deg) saturate(500%) brightness(0.8) contrast(1.1);
}

.filter-green {
    filter: grayscale(100%) sepia(100%) hue-rotate(70deg) saturate(400%) brightness(0.7);
}

/* Responsiveness */

@media screen and (max-width: 1440px) {
    body {
        font-size: 108%;
    }

    .menu-item {
        font-size: 32px;
    }

    .cs-dialog {
        transform: scale(1.08);
    }

    .cs-dialog.options-dialog {
        max-width: 650px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 100%;
    }

    .menu {
        width: 250px;
        margin-left: 5%;
    }

    .menu-item {
        font-size: 30px;
        margin: 10px 0;
    }

    .player-name-section, .city-section {
        width: 200px;
    }

    .spraypaint-section {
        width: 250px;
    }

    .cs-dialog {
        transform: scale(1);
        font-size: 20px;
    }

    .cs-dialog.options-dialog {
        max-width: 600px;
    }
    
    .cs-dialog.servers-dialog {
        width: 90%;
    }

    .cs-dialog .heading .text,
    .cs-dialog .cs-tabs .label,
    .cs-dialog .cs-tabs .cs-input {
        font-size: 20px !important;
    }

    .spraypaint-preview-image,
    .spraypaint-selectors {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 600px) {
    .cs-dialog.options-dialog {
        width: 360px;
    }
    
    .cs-dialog.servers-dialog {
        width: 95%;
    }

    .server-browser {
        height: 400px;
    }

    .menu {
        margin-bottom: 10%;
    }

    .cs-dialog .sections {
        gap: 15px;
    }

    .age-and-city-row {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: normal;
    }

    .upper-section {
        flex-direction: column;
        align-items: normal;
    }

    .upper-left-column {
        gap: 15px;
    }

    .symbol-rectangle {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 30px;
        width: 300px;
    }
}