body {
    margin: 0;
    padding: 0;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    color: white;
    overflow: hidden;
    font-size: 115%;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu {
    width: 287px;
    margin-left: 10%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.menu-item {
    margin: 11px 0;
    cursor: pointer;
    color: #cccccc;
    text-decoration: none;
    font-size: 34px;
    transition: color 0.3s;
}

.menu-item:hover {
    color: #ffffff;
}

.player-name-section {
    display: flex;
    flex-direction: column;
    width: 230px;
}

.age-section {
    display: flex;
    gap: 23px;
}

.age-section {
    margin-top: 11px;
}

.age-input-row {
    display: flex;
    align-items: center;
    gap: 23px;
    margin-top: 22px;
}

.age-input {
    width: 57px;
}

.city-section {
    display: flex;
    flex-direction: column;
    width: 230px;
}

.age-and-city-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.spraypaint-section {
    display: flex;
    flex-direction: column;
    width: 287px;
}

.cs-slider .ruler {
    z-index: 0;
    margin-left: 2px;
}

.cs-slider label {
    font-size: 23px;
}

.cs-dialog.options-dialog {
    max-width: 690px;
}

.cs-dialog {
    font-size: 23px;
    transform: scale(1.15);
    transform-origin: center;
}

.cs-dialog .heading .text {
    font-size: 20px !important;
}

.cs-dialog .cs-tabs .label {
    font-size: 20px;
}

.cs-dialog .cs-tabs .cs-input {
    font-size: 23px;
}

.cs-dialog .sections {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.quit-dialog.cs-dialog {
    font-size: 18px;
}

.spraypaint-preview {
    display: flex;
    align-items: center;
    gap: 17px;
}

.spraypaint-preview-image {
    width: 92px;
    height: 92px;
    background-size: cover;
    background-position: center;
}

.spraypaint-selectors {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92px;
}

.spraypaint-selector-row {
    display: flex;
    align-items: center;
    gap: 11px;
}

.spraypaint-selector-row:last-child {
    margin-bottom: 0;
}

/* Filters */

.filter-orange {
    filter: sepia(0.5) hue-rotate(20deg) saturate(1.7) brightness(1.1);
}

.filter-ltblue {
    filter: hue-rotate(180deg) saturate(1.5);
}

.filter-sepia {
    filter: sepia(0.8);
}

.filter-grayscale {
    filter: grayscale(1);
}

/* Responsiveness */

@media screen and (max-width: 1440px) {
    body {
        font-size: 108%;
    }
    
    .menu-item {
        font-size: 32px;
    }
    
    .cs-dialog {
        transform: scale(1.08);
    }
    
    .cs-dialog.options-dialog {
        max-width: 650px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 100%;
    }
    
    .menu {
        width: 250px;
        margin-left: 5%;
    }
    
    .menu-item {
        font-size: 30px;
        margin: 10px 0;
    }
    
    .player-name-section, .city-section {
        width: 200px;
    }
    
    .age-and-city-row {
        gap: 70px;
    }
    
    .spraypaint-section {
        width: 250px;
    }
    
    .cs-dialog {
        transform: scale(1);
        font-size: 20px;
    }
    
    .cs-dialog.options-dialog {
        max-width: 600px;
    }
    
    .cs-dialog .heading .text,
    .cs-dialog .cs-tabs .label,
    .cs-dialog .cs-tabs .cs-input {
        font-size: 20px !important;
    }
    
    .spraypaint-preview-image,
    .spraypaint-selectors {
        width: 80px;
        height: 80px;
    }
}